body{
    background-color: black;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
nav{
    height: 100vh;
}
h1{
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
img{
    height: fit-content;
    max-width: 100%;
}


@media screen and (orientation: portrait) {
    .mostrarAlerta{
        display: block;
    }
    .mostrarContenido{
        display: none;
    }
    h1{
        background-color: transparent;
    }
}

@media screen and (orientation: landscape) {
    .mostrarAlerta{
        display: none;
    }
    .mostrarContenido{
        display: block;
    }
    h1 {
        background-color: coral;
    }
}